.topbar {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 60px;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  color: #F7F8F0;
  z-index: 900;
  background-color: #F7F8F0;
  backdrop-filter: blur(10px);
}

.title {
  font-size: 60px;
  font-weight: 600;
  
}

.welcome {
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  color: #355872;  
}

.menu-btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  color: #355872;
  margin-right: 15px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .topbar {
    height: 60px;
    padding: 0 10px;
    left: 0;
  }

  .title {
    font-size: 60px;
  }

  .welcome {
    font-size: 18px;
  }
}